<div id="action-menu" class="fixed-top" style="z-index: 10000">
  <button
    class="btn btn-{{ mode === 'chat' ? '' : 'outline-' }}success mr-2"
    (click)="mode = 'chat'"
  >
    Chat Mode
  </button>
  <button
    class="btn btn-{{ mode === 'drag' ? '' : 'outline-' }}success"
    (click)="mode = 'drag'"
  >
    Drag Mode
  </button>
  <input
    class="form-control"
    id="search"
    name="text"
    placeholder="(search message...)"
    [(ngModel)]="currSearch"
    (ngModelChange)="onSearch()"
    #search
  />
</div>
<svg id="hive-map"></svg>
<!-- <app-cursor></app-cursor> -->
<form (ngSubmit)="onChatSubmit()" #inputForm>
  <input
    class="form-control form-control-lg"
    id="input"
    name="text"
    [(ngModel)]="currMessage"
    #input
  />
</form>
<!-- <app-message-input></app-message-input> -->

<router-outlet></router-outlet>
